---
layout: default
title: Events
---

Welcome to the Events page of the Natural Computing Cluster. 
Here, we showcase a diverse array of academic and professional gatherings that our group organizes or co-organizes. 
These events include conferences, workshops, seminars, and tutorials, all aimed at fostering collaboration and advancing research in natural computing and related fields. 
We invite you to explore our upcoming and past events to engage with the latest developments and connect with experts in the community.

{% for type in site.event_types %}
<h3 class="pt-3"> {{ type.name }} - Upcoming Events</h3>
<div class="type {{ type.key }}">

    <div class="group-columns">
        {% assign upcoming_events = site.events | where: "type", type.key | where_exp: "event", "event.eventdate >= site.time" | sort: 'eventdate' %}
        {% for event in upcoming_events %}
            {% include event-card.html group=event %}
        {% endfor %}
    </div>
</div>
{% endfor %}

<h3 class="pt-3">Past Events</h3>
<div class="type past-events">
    <div class="group-columns">
        {% assign past_events = site.events | where_exp: "event", "event.eventdate < site.time" | sort: 'eventdate' | reverse %}
        {% for event in past_events %}
            {% include event-card.html group=event %}
        {% endfor %}
    </div>
</div>
