---
layout: default
title: FOGA 2025
notitle: true

header:
    overlay_image: "foga-bg.png"
    og_image: "foga-og.png"

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [organizer]
    width: 12
    image: true
---

<!--  roles: [pc]
    width: 12
    image: false
-->

<div class="jumbotron">
    <h2>18th ACM/SIGEVO Conference on Foundations of Genetic Algorithms</h2>
    <h3>FOGA XVIII, Aug (26) 27 – 29, 2025, Leiden, The Netherlands</h3>
    <p>
        FOGA 2025 is a conference organized by ACM/SIGEVO and hosted by the Leiden Institute of Computer Science (LIACS) in Leiden, The Netherlands. 
        The conference will this year take place on three days (Wed 27 – Fri 29). <br/>
        The conference will be preceded by an <a href="https://naco.liacs.nl/foga2025/roarnet.html">informal meeting of the ROAR-NET COST action</a> on Tuesday, August 26. This meeting is open to everyone, whether they are COST action members or not.
    </p>
</div>

<section>
    <h2>Call for Papers</h2>

    <p>The FOGA series aims at advancing our understanding of the working principles behind evolutionary algorithms and related randomized search heuristics, such as local search algorithms, differential evolution, ant colony optimization, particle swarm optimization, artificial immune systems, simulated annealing, and other Monte Carlo methods for search and optimization. Connections to related areas, such as Bayesian optimization and direct search, are of interest as well. FOGA is the premier event to discuss advances on the theoretical foundations of these algorithms, tools needed to analyze them, and different aspects of comparing algorithms’ performance. Topics of interest include, but are not limited to:</p>
    <ul>
        <li>Run time analysis</li>
        <li>Mathematical tools suitable for the analysis of search heuristics</li>
        <li>Fitness landscapes and problem difficulty</li>
        <li>(On- and offline) configuration and selection of algorithms, heuristics, operators, and parameters</li>
        <li>Stochastic and dynamic environments, noisy evaluations</li>
        <li>Constrained optimization</li>
        <li>Problem representation</li>
        <li>Complexity theory for search heuristics</li>
        <li>Multi-objective optimization</li>
        <li>Benchmarking aspects, including performance measures, the selection of meaningful benchmark problems, and statistical aspects</li>
        <li>Connection between black-box optimization and machine learning</li>
    </ul>
    <p><strong>Submissions covering the entire spectrum of work, ranging from rigorously derived mathematical results to carefully crafted empirical studies, are invited.</strong></p>
    <h3>List of important dates (all times are “Anywhere on Earth”):</h3>

    <ul>
        <li>Submission: <s>May 2</s> May 5 (extended), 2025</li>
        <li>Notification of decision to authors: June 27, 2025</li>
        <li>Camera ready: July 10, 2025</li>
        <li>Early registration deadline: July 20, 2025</li>
        <li>Conference: Aug 27 – 29, 2025</li>
    </ul>
    <p>By submitting your article to an ACM Publication, you are hereby acknowledging that you and your co-authors are subject to all <a href="https://www.acm.org/publications/policies" target="_blank">ACM Publications Policies</a>, 
        including ACM's new <a href="https://www.acm.org/publications/policies/research-involving-human-participants-and-subjects" target="_blank">Publications Policy on Research Involving Human Participants and Subjects</a>. 
        Alleged violations of this policy or any ACM Publications Policy will be investigated by ACM and may result in a full retraction of your paper, 
        in addition to other potential penalties, as per ACM Publications Policy.
    </p>
    <p>
        Please ensure that you and your co-authors <a href="https://orcid.org/register" target="_blank">obtain an ORCID ID</a>, so you can complete the publishing process for your accepted paper.  
        ACM has been involved in ORCID from the start and we have recently made a <a href="https://authors.acm.org/author-resources/orcid-faqs" target="_blank">commitment to collect ORCID IDs from all of our published authors</a>. We are committed to improve author discoverability, ensure proper attribution and contribute to ongoing community efforts around name normalization; your ORCID ID will help in these efforts.
    </p>
    
</section>

<section>
    <div id="keynotespeakers">
        <section class="people row justify-content-between">
            <div class="col-md-12">
                {% include role-people.html role="keynote" image=true %}
            </div>
        </section>
    </div>
</section>


<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
