---
layout: default
title: Research in AI and Optimization
notitle: true

header:
    overlay_image: "naco-bg4.jpg"
    og_image: "og-image.png"

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [prof]
    width: 4
    image: true
  - roles: [aprof]
    width: 12
    image: true
  - roles: [postdoc]
    width: 8
    image: true
  - roles: [grad]
    width: 12
    image: true
  - roles: [alum]
    width: 12
    image: false

---



<div class="jumbotron">
    <h2>Welcome to the Natural Computing Cluster</h2>
    <p>
        At the <strong>Natural Computing Cluster</strong> (NaCo), part of LIACS at Leiden University, we delve into the fascinating intersection of nature-inspired computation and real-world problem-solving.
        Our cluster integrates six special interest groups, each pushing the boundaries of Artificial Intelligence, Machine Learning, Optimization, and Data Science. -- hosted at Github
    </p>
</div>

<section>
    <h2>Research areas</h2>
    Our mission is to foster a deep understanding of natural computing and to develop innovative solutions that can address some of the world's most complex problems. 
    By harnessing the power of nature-inspired computing, we aim to contribute to scientific advancement and create a positive impact on society.

    Research in natural computing is at the core of our activities, covering theoretical foundations, the development of new algorithms, and interdisciplinary applications of natural computing methods. 
    Our cluster focuses on a wide array of topics, combining foundational research with practical applications. These include:

    <ul>
        <li>
            <strong>Nature-Inspired Algorithms</strong>: foundational work in evolutionary computing, metaheuristics and related methodologies.
        </li>
        <li>
            <strong>Explainable AI (XAI)</strong>: Advancing fair, interpretable, and transparent AI solutions tailored to diverse industries.
        </li>
        <li>
            <strong>Algorithm Benchmarking and Configuration</strong>: Rigorous evaluation and fine-tuning for optimal algorithmic performance.
        </li>
        <li>
            <strong>Generative AI and LLM-Aided Design</strong>: Exploring creative and automated approaches for designing algorithms.
        </li>
        <li>
            <strong>Quantum Computing</strong>: Tackling optimization challenges using cutting-edge quantum methodologies.
        </li>
        <li>
            <strong>Logistics and Sustainability</strong>: Machine learning-driven solutions for supply chain, vehicle routing, and green manufacturing.
        </li>
        <li>
            <strong>Multi-Objective Optimization</strong>: Efficient techniques for robust, multimodal, and scalable optimization challenges.
        </li>
    </ul>
    
    The driving force behind our research is the mission to increase our understanding of natural systems as models of computation, with a focus on the development of new algorithms and applications to challenging problems.

</section>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

{% if false %}
<section>
    <h2>Special Interest Groups</h2>

    The Natural Computing Cluster consists of a few special interest groups (SiGs). Each of these groups focuses on a different part within Natural Computing.
    <br/>
    <div class="group-columns">
        {% for p in site.groups %}
            {% if p.status != "inactive" %}
                {% include group-card.html group=p %}
            {% endif %}
        {% endfor %}
    </div>
</section> 
{% endif %}

<section>
    <h2>Research</h2>

    We engage in cutting-edge research that spans a variety of disciplines. 
    Our research cluster collaborates with international researchers and industry partners, creating a vibrant community that shares a passion for exploring the untapped potential of natural computing.
    We are proud to be at the forefront of this dynamic field, contributing to groundbreaking discoveries and technologies.
    <br/>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<section>
    <h2>Event partnerships</h2>
    The Natural Computing Cluster is an academic partner of the <a href="https://ecta.scitevents.org/CallForPapers.aspx" target="_blank">International Conference on Evolutionary Computation Theory and Applications (ECTA)</a>. 
    This conference intends to be a major forum for scientists, engineers and practitioners interested in the study, analysis, design, modeling and implementation of evolvable systems, both theoretically and in a broad range of application fields. ECTA welcomes both theoretical research and practical applications.
The conference also aims to foster hybrid approaches within evolutionary computation and also involving fuzzy computation and neural computation.
    <a href="https://ecta.scitevents.org/CallForPapers.aspx" target="_blank"><img src="/img/banne.duplor_IJCCI_2025.png" style="width:100%;"/></a> 
</section>

<div id="people">
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
