---
layout: default
title: People
notitle: true

picture-role-groups:
- {roles: [organizer], width: 12}

no-picture-role-groups:
- {roles: [pc], width: 12}
---

<section class="people row justify-content-between">
    {% for role-group in page.picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=true %}
            {% endfor %}
        </div>
    {% endfor %}
</section>

<section class="people row justify-content-between">
    {% for role-group in page.no-picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=false %}
            {% endfor %}
        </div>
    {% endfor %}
</section>
